.mat-icon {
  font-size: 50px !important;
  cursor: pointer;
  padding-bottom: 20px !important;
}
.custom_padding_bottom {
  // margin-bottom: 20px !important;
  // padding-bottom: 20px !important;
}
// mat-icon{
//   cursor: pointer;
// }
table {
  width: 100%;
}
.custom_searchIcon{
  font-size: 30px !important;
}
.custom_card{
  // height: calc(100vh - 65px);
}