
<!--  -->

<main> 
  <mat-card fxLayout="column" fxLayoutAlign="space-between stretch" class="custom_card">
      <div fxFlex fxLayout="row" fxLayoutAlign="start stretch" > 
          <div fxFlex="70"> 
              <mat-card-header fxFlex class="mat-display-1 margin-one-tb" fxLayoutAlign="start center">
                   Home Page
              </mat-card-header>
          </div>
          <div fxFlex="30" fxLayout="row" fxLayoutAlign="end center" > 
              <mat-icon [inline]="true" color="accent" class="custom_padding_bottom" 
               matSuffix (click)="addExtraUser()" fxLayoutAlign="end center">add_circle_outline</mat-icon>
              <mat-form-field appearance="outline" class="margin-one-lr custom_padding_bottom">
                  <mat-label>Search</mat-label>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                  <mat-icon class="custom_searchIcon" matSuffix>search</mat-icon>
                  <!-- <mat-hint>Hint</mat-hint> -->
              </mat-form-field>
          </div> 
      </div>
      <!-- dealer page table area -->
      <div *ngIf="isAddUserEnable; then user_edit;" 
           fxFlex="90" 
           fxFlex 
           fxLayout="row" 
           fxLayoutAlign="start stretch">
      </div>
      <!-- dealer page add dealer area-->
      <div *ngIf="userList; then user_list"></div> 
  </mat-card>
</main>

<!--  -->
<ng-template #user_edit> 

  <div>
    <mat-label><strong> Create new User </strong></mat-label>
  </div><br>
  <form fxLayout="row wrap" fxLayoutAlign="start center" 
          #myForm="ngForm" novalidate autocomplete="off"> 
      <mat-form-field fxFlex="14" appearance="outline" class="padding-half-lr">
          <mat-label>User Id</mat-label>
          <input  matInput placeholder="User Id" required type="text"
                  [(ngModel)]="user.id"
                  name="user_id"
                  #user_id = "ngModel"
                  [pattern]="Props.DATA_PATTERN"
                  maxlength="">
                  <!-- <mat-hint>
                      <form-messages [control]="user_id.control">
                      </form-messages>
                  </mat-hint> -->
      </mat-form-field>
    
      <mat-form-field fxFlex="22" appearance="outline" class="padding-half-lr">
        <mat-label>User Role</mat-label>
        <input  matInput placeholder="User Role" required type="text"
                [(ngModel)]="user.role"
                name="user_role"
                #user_role = "ngModel"
                [pattern]="Props.DATA_PATTERN"
                maxlength="">
                <!-- <mat-hint>
                    <form-messages [control]="user_role.control">
                    </form-messages>
                </mat-hint> -->
    </mat-form-field>

    <mat-form-field fxFlex="14" appearance="outline" class="padding-half-lr">
      <mat-label>Title</mat-label>
      <!-- <input  matInput placeholder="Title" required type="text"
              [(ngModel)]="user.name.title"
              name="title"
              #title = "ngModel"
              [pattern]="Props.DATA_PATTERN"
              maxlength=""> -->
              <mat-label>Title</mat-label>
              <mat-select name="title" [(ngModel)]="user.name.title">
                  <mat-option>None</mat-option>
                  <mat-option 
                  *ngFor="let title of titles" 
                  [value]="title"
                  >{{title}}</mat-option>
              </mat-select>
              <!-- <mat-hint>
                  <form-messages [control]="title.control">
                  </form-messages>
              </mat-hint> -->
    </mat-form-field>

    <mat-form-field fxFlex="25" appearance="outline" class="padding-half-lr">
      <mat-label>First Name</mat-label>
      <input  matInput placeholder="First Name" required type="text"
              [(ngModel)]="user.name.first_name"
              name="first_name"
              #first_name = "ngModel"
              [pattern]="Props.DATA_PATTERN"
              maxlength="">
              <!-- <mat-hint>
                  <form-messages [control]="first_name.control">
                  </form-messages>
              </mat-hint> -->
    </mat-form-field>

    <mat-form-field fxFlex="25" appearance="outline" class="padding-half-lr">
      <mat-label>Last Name</mat-label>
      <input  matInput placeholder="Last Name" required type="text"
              [(ngModel)]="user.name.last_name"
              name="last_name"
              #last_name = "ngModel"
              [pattern]="Props.DATA_PATTERN"
              maxlength="">
              <!-- <mat-hint>
                  <form-messages [control]="last_name.control">
                  </form-messages>
              </mat-hint> -->
    </mat-form-field>

    <mat-form-field fxFlex="36" appearance="outline" class="padding-half-lr">
      <mat-label>Email</mat-label>
      <input  matInput placeholder="Email" required type="text"
              [(ngModel)]="user.email"
              name="email"
              #email = "ngModel"
              [pattern]="Props.DATA_PATTERN"
              maxlength="">
              <!-- <mat-hint>
                  <form-messages [control]="email.control">
                  </form-messages>
              </mat-hint> -->
    </mat-form-field>

    <mat-form-field fxFlex="32" appearance="outline" class="padding-half-lr">
      <mat-label>UserName</mat-label>
      <input  matInput placeholder="Username" required type="text"
              [(ngModel)]="user.username"
              name="username"
              #username = "ngModel"
              [pattern]="Props.DATA_PATTERN"
              maxlength="">
              <!-- <mat-hint>
                  <form-messages [control]="username.control">
                  </form-messages>
              </mat-hint> -->
    </mat-form-field>

    
    <mat-form-field fxFlex="32" appearance="outline" class="padding-half-lr">
      <mat-label>Password</mat-label>
      <input  matInput placeholder="Password" required type="password"
              [(ngModel)]="user.password"
              name="password"
              #password = "ngModel"
              [pattern]="Props.DATA_PATTERN"
              maxlength="">
              <!-- <mat-hint>
                  <form-messages [control]="password.control">
                  </form-messages>
              </mat-hint> -->
    </mat-form-field>

        
    <mat-form-field fxFlex="18" appearance="outline" class="padding-half-lr">
      <mat-label>DOB</mat-label>
      <input  matInput placeholder="DOB" required type="text"
              [min]="minDate" 
              [max]="maxDate" 
              [matDatepicker]="picker"
              [(ngModel)]="user.dob"
              name="dob"
              #dob = "ngModel"
              [pattern]="Props.DATA_PATTERN"
              maxlength="">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
              <!-- <mat-hint>
                  <form-messages [control]="dob.control">
                  </form-messages>
              </mat-hint> -->
    </mat-form-field>

    <mat-form-field fxFlex="18" appearance="outline" class="padding-half-lr">
      <mat-label>Phone</mat-label>
      <input  matInput placeholder="Phone" required type="text"
              [(ngModel)]="user.phone"
              name="phone"
              #phone = "ngModel"
              [pattern]="Props.PHONE_PATTERN"
              maxlength="">
              <!-- <mat-hint>
                  <form-messages [control]="phone.control">
                  </form-messages>
              </mat-hint> -->
    </mat-form-field>
<div fxLayout="row" fxLayoutAlign="end center" fxFlex="64" class="padding-half-lr"> 
  <button mat-raised-button fxFlex="20" color="accent" 
  style="height: 50px;top:0px; margin-bottom: 15px"
  (click)="saveUser(user)" [disabled]="!myForm.valid">Save
  </button>
</div>
      
  </form>
  </ng-template>
<!--  -->
<ng-template #user_list> 
  <div> 
    <div>
        <mat-label><strong> User List </strong></mat-label>
    </div>
      <br>    
      <div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> User Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> User Role </th>
      <td mat-cell *matCellDef="let element"> {{element.role}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.name.title}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name.first_name}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name.last_name}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Password </th>
        <td mat-cell *matCellDef="let element"> {{element.password}} </td>
    </ng-container>
        
    <!-- Symbol Column -->
    <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DOB </th>
        <td mat-cell *matCellDef="let element"> {{element.dob | date}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
</div>
</ng-template>