h1,
h2,
h3,
h4,
h5 {
  margin: 0 !important;
}
a {
  cursor: pointer !important;
  color: darkorange;
  text-decoration: none;
  font-weight: 600;
}
.bg-img {
  // background-image: url(assets/img/bbg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  // background-color: #464646;
  height: 100%;
}
aside {
  height: calc(100% - 99px);
  head {
    display: block;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    z-index: 9;
    margin-bottom: 2px;
  }
  main {
    overflow: auto;
    height: 100%;
    &.gap {
      padding: 16px 8px;
    }
  }
  main::-webkit-scrollbar {
    width: 5px; // manage scrollbar width here
  }
  main::-webkit-scrollbar * {
    background: transparent; // manage scrollbar background color here
  }
  main::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5) !important; // manage scrollbar thumb background color here
  }
}
#sidenav1 {
  width: 320px;
  margin-top: 95px;
  // background-color: #b0bec5;
  box-shadow: none !important;
}
.bg-img {
  .mat-card {
    // box-shadow: none !important; // background: transparent;
  }
}
.margin-one {
  margin: 1em !important;
}
.margin-half {
  margin: 0.5em !important;
}
.margin-half-lr {
  margin: 0em 0.5em !important;
}
.margin-one-lr {
  margin: 0em 1em !important;
}
.margin-half-tb {
  margin: 0.5em 0em !important;
}
.margin-two-tb {
  margin: 2em 0em !important;
}
.margin-two-lr {
  margin: 0em 2em !important;
}
.margin-one-tb {
  margin: 1em 0em !important;
}
.padding-zero {
  padding: 0em !important;
}
.margin-zero {
  margin: 0em !important;
}
.padding-one {
  padding: 1em !important;
}
.padding-two {
  padding: 2em !important;
}
.padding-half {
  padding: 0.5em !important;
}
.padding-half-lr {
  padding: 0em 0.5em !important;
}
.padding-one-lr {
  padding: 0em 1em !important;
}
.padding-half-tb {
  padding: 0.5em 0em !important;
}
.padding-one-tb {
  margin: 1em 0em !important;
}
