@import "~typeface-lato/index.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~@angular/material/theming";
@import "~@fortawesome/fontawesome-free/css/all.css";
@include mat-core();

$mat-primary: mat-palette($mat-blue-grey, 900, 100, 900);
$mat-accent: mat-palette($mat-green, 600, 100, 900);
$mat-warn: mat-palette($mat-red, 500, 100, 900);
$background-color: map_get($mat-blue-grey, 900);

$mat-theme: mat-light-theme($mat-primary, $mat-accent, $mat-warn);
$background: map-get($mat-theme, background);
$background: map_merge(
  $background, 
  (
    background: $background-color
  )
);
$theme: map_merge(
  $mat-theme,
  (
    background: $background
  )
);
@include angular-material-theme($mat-theme);
$alt-primary: mat-palette($mat-blue-grey, 300, 100, 300);
$alt-accent: mat-palette($mat-blue, 500, 100, 900);
$alt-theme: mat-dark-theme($alt-primary, $alt-accent);
.alternative {
  @include angular-material-theme($alt-theme);
}
// $font-family: "Source Sans Pro",
// $input: mat-typography-level(14px, 1.2, 400)
// $custom-typography: mat-typography-config(
// $font-family: "lato",
// $display-4: mat-typography-level(112px, 112px, 300),
// $display-3: mat-typography-level(56px, 56px, 300),
// $display-2: mat-typography-level(45px, 48px, 300),
// $display-1: mat-typography-level(34px, 40px, 300),
// $headline: mat-typography-level(24px, 32px, 300),
// $title: mat-typography-level(20px, 32px, 300),
// $subheading-2: mat-typography-level(14px, 28px, 400),
// $subheading-1: mat-typography-level(15px, 24px, 300),
// $body-2: mat-typography-level(16px, 24px, 300),
// $body-1: mat-typography-level(14px, 20px, 400),
// $caption: mat-typography-level(12px, 20px, 300),
// $button: mat-typography-level(16px, 14px, 300)
// );
// @include angular-material-typography($custom-typography);
// .mat-form-field-should-float .mat-form-field-label {
// color: #789 !important;
// font-size: 16px;
// }
.mat-toolbar {
  height: 56px !important;
}
.mat-spacer {
  flex: 1 1 auto;
}

.mat-card-title {
  margin-bottom: 0px !important;
}
.sidenav {
  width: 180px;
}
.material-icons {
  vertical-align: middle;
}
.material-icons.md-14 {
  font-size: 14px;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

head {
  .mat-toolbar {
    button {
      height: 56px !important;
      min-width: 48px !important;
      border-radius: 0;
      line-height: unset;
      opacity: 0.7;
      &:last-child {
        margin-right: -16px;
        opacity: 1 !important;
      }
    }
  }
  .mat-toolbar > button {
    margin: 0 16px 0 -16px;
  }
}
// .mat-drawer {
// min-width: unset !important;
//   }
.fab-bottom-right {
  bottom: 1rem;
  right: 2rem;
  position: absolute !important;
}
.fab-placeholder {
  top: 24px !important;
  right: 2rem;
  position: absolute !important;
}
.mat-form-field {
  width: 100%;
}
$custom-typography-en: mat-typography-config(
  $font-family: "lato",
  $display-4: mat-typography-level(112px, 112px, 400),
  $display-3: mat-typography-level(56px, 56px, 400),
  $display-2: mat-typography-level(45px, 48px, 400),
  $display-1: mat-typography-level(34px, 40px, 400),
  $headline: mat-typography-level(24px, 32px, 500),
  $title: mat-typography-level(20px, 32px, 400),
  $subheading-2: mat-typography-level(14px, 28px, 400),
  $subheading-1: mat-typography-level(15px, 24px, 400),
  $body-2: mat-typography-level(16px, 24px, 400),
  $body-1: mat-typography-level(14px, 20px, 400),
  $caption: mat-typography-level(12px, 20px, 400),
  $button: mat-typography-level(16px, 14px, 400)
);
$custom-typography-ar: mat-typography-config(
  $font-family: "lato",
  $display-4: mat-typography-level(112px, 112px, 400),
  $display-3: mat-typography-level(56px, 56px, 400),
  $display-2: mat-typography-level(45px, 48px, 400),
  $display-1: mat-typography-level(34px, 40px, 400),
  $headline: mat-typography-level(24px, 32px, 500),
  $title: mat-typography-level(20px, 32px, 400),
  $subheading-2: mat-typography-level(16px, 28px, 400),
  $subheading-1: mat-typography-level(15px, 24px, 400),
  $body-2: mat-typography-level(16px, 24px, 400),
  $body-1: mat-typography-level(16px, 20px, 400),
  $caption: mat-typography-level(12px, 20px, 400),
  $button: mat-typography-level(16px, 14px, 400)
);
@include angular-material-typography($custom-typography-en);
[lang="en"] {
  @include angular-material-typography($custom-typography-en);
}
[lang="ar"] {
  @include angular-material-typography($custom-typography-ar);
}

.page-container {
  width: 98%;
  height: calc(100vh - 100px);
  margin: 10px;
  border: 1px solid #ccc;
}
.page-container .side {
  width: 200px;
}
