<main fxLayout="row" fxLayoutAlign="center stretch">
    <mat-card class="card" fxLayout="row" fxLayoutAlign="center stretch" style="width: 50%;"> 
        <div fxLayout="column" fxLayoutAlign="center stretch" fxFlex="50"> 
            <div fxLayout="column" fxLayoutAlign="center center" class="margin-one-tb mat-display-1"> 
                <mat-card-header> Login </mat-card-header>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" >
                 <form #myForm="ngForm" novalidate autocomplete="off" fxLayout="column" fxLayoutAlign="space-between center"> 
                    <div>
                        <mat-label>Email Id</mat-label>
                        <mat-form-field appearance="outline">
                            <mat-label>Email Id</mat-label>
                            <input  matInput placeholder="Enter Email Id" required type="text"
                                [(ngModel)]="user.username"
                                name="user_name"
                                #user_name = "ngModel"
                                maxlength="">
                                <mat-hint *ngIf="isAuthFail == true">
                                    <mat-error> 
                                            Invalid Username
                                    </mat-error>
                                </mat-hint>
                        </mat-form-field>
                    </div>
                    
                    <div>
                    <mat-label>Password</mat-label>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input  matInput placeholder="Enter Password" required type="text"
                            [(ngModel)]="user.password"
                            name="password"
                            #password = "ngModel"
                            
                            maxlength="">
                            <mat-hint *ngIf="isAuthFail == true">
                                <mat-error> 
                                        Invalid Password
                                </mat-error>
                                
                            </mat-hint>
                    </mat-form-field>
                    </div>

                    <button mat-raised-button fxFlex="10" color="accent" 
                        style="height: 50px;top:0px; margin-bottom: 15px"
                        (click)="login(user)" [disabled]="!myForm.valid">Login
                    </button>
                 </form>
            </div>
        </div>
        <div  fxFlex="50" fxLayout="column" fxLayoutAlign="start stretch" class="custom_blankArea" style="border: 1px solid rgb(223, 216, 216);
                    background: url('assets/images/1573101683.png') no-repeat center center fixed;">
        </div>
    </mat-card>
</main>
