.mat-icon {
    font-size: 60px;
}
.custom_padding_bottom .mat-form-field-wrapper{
    padding:0px !important;
}
mat-icon{
    cursor: pointer;
}
table {
    width: 100%;
  }
.custom_blankArea{
    border: 1px solid rgb(223, 216, 216);
    // background: url('assets/images/1573101683.png') no-repeat center center fixed;
}