/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "./app/styles/md";
@import "./app/styles/custom";
@import "./app/styles/table";

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}
@font-face {
	font-family: Source Sans Pro BoldIt;
	src: url(assets/fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf);
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: Source Sans Pro SemiboldIt;
	src: url(assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBoldItalic.ttf);
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: Source Sans Pro-Black;
	src: url(assets/fonts/Source_Sans_Pro/SourceSansPro-Black.ttf);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Source Sans Pro-Regular;
	src: url(assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: Source Sans Pro-BlackIt;
	src: url(assets/fonts/Source_Sans_Pro/SourceSansPro-BlackItalic.ttf);
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: Source Sans Pro-ExtraLight;
	src: url(assets/fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf);
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: Source Sans Pro-Semibold;
	src: url(assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf);
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: Source Sans Pro-LightIt;
	src: url(assets/fonts/Source_Sans_Pro/SourceSansPro-LightItalic.ttf);
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: Source Sans Pro-ExtraLightIt;
	src: url(assets/fonts/Source_Sans_Pro/SourceSansPro-ExtraLightItalic.ttf);
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: Source Sans Pro-Light;
	src: url(assets/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf);
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: Source Sans Pro-Bold;
	src: url(assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
	font-weight: bold;
	font-style: normal;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// .mat-form-field-appearance-outline .mat-form-field-outline{
// 	background-color: white;
// 	border-radius: 5px;
// }